.home-wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.home-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  background: #ff6200;
  z-index: 0;
  pointer-events: none;
}

