.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 1.5rem;
  z-index: 10000;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1rem;
  pointer-events: none;
  opacity: 0;
}

.footer > * {
  pointer-events: auto;
}

.info-section {
  grid-column: 9 / span 4;
  text-align: right;
}

.footer p {
  font-family: 'Zen Kaku Gothic New', monospace;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  display: block;
}

