@import url('https://fonts.googleapis.com/css2?family=Manrope');

.animated-text-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4em;
  scale: 1 2;
  z-index: 0;
  pointer-events: none;
  opacity: var(--opacity, 0.3);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animated-text-background p {
  text-transform: uppercase;
  line-height: 0.8;
  --t: 0%;
  font-family: 'Manrope', sans-serif;
  position: relative;
  color: #ffffff;
}

.animated-text-background p:hover {
  --t: 100%;
}

.animated-text-background p::before {
  content: attr(data-text-end);
  opacity: 0;
}

.animated-text-background i {
  font-style: inherit;
  position: absolute;
  inset: 0;
  transition: 1s;
  --i: var(--sibling-index, 0);
  --n: var(--sibling-count, 1);
  transition-delay: calc(50ms * var(--i));
  --hairline-fix: 0.3%;
  --pt-height: calc(100% / var(--n));
  --y-start: calc(var(--pt-height) * (var(--i) - 1));
  --y-end: calc(var(--pt-height) * var(--i) + var(--hairline-fix));
  clip-path: polygon(
    0 var(--y-start),
    100% var(--y-start),
    100% var(--y-end),
    0 var(--y-end)
  );
}

.animated-text-background i::before,
.animated-text-background i::after {
  position: absolute;
  transition: inherit;
  color: inherit;
}

.animated-text-background i::before {
  content: attr(data-text-start);
  scale: 3.5 1;
  transform-origin: 0% 50%;
  transform: scaleX(calc(100% - var(--t)));
}

.animated-text-background i::after {
  content: attr(data-text-end);
  transform-origin: 100% 50%;
  transform: scaleX(var(--t));
}


