.global-gradient-overlay {
  --min-deg: 0.1deg;
  background-color: #000;
  --general-gradient: repeating-conic-gradient(
      from 0deg at 0% 0%,
      springgreen 0 var(--min-deg),
      magenta var(--min-deg) var(--max-deg)
    ),
    repeating-conic-gradient(
      from 0deg at 100% 0%,
      springgreen 0 var(--min-deg),
      magenta var(--min-deg) var(--max-deg)
    ),
    repeating-conic-gradient(
      from 0deg at 100% 100%,
      springgreen 0 var(--min-deg),
      magenta var(--min-deg) var(--max-deg)
    ),
    repeating-conic-gradient(
      from 0deg at 0% 100%,
      springgreen 0 var(--min-deg),
      magenta var(--min-deg) var(--max-deg)
    );
  animation: change-gradient 50s linear infinite alternate both;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  pointer-events: none;
  opacity: 0.2;
}

.global-gradient-overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--general-gradient);
  background-blend-mode: difference;
}

@keyframes change-gradient {
  0% {
    --max-deg: 0.1deg;
  }
  100% {
    --max-deg: 0.5deg;
  }
}

@supports (background: repeating-conic-gradient(from 0deg at 0% 0%, red 0deg, blue 0deg)) {
  @property --max-deg {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0.1deg;
  }
}

